// @import '../../../../styles';
.a-center {
  text-align: center;
}

.padding-table {
  padding-top: 10px;
}

.red{
  color: red;
}
.blue{
  color: blue;
}

.times {
  // position: absolute;
  // top: 5.5px;
  right: 20px;

  .ti-close::before {
    font-weight: bold;
  }
}

.button {
  border: 1px solid #f44336;
  background-color: white;
  color: #f44336;
}

.btn-ct {
  background: #ffffff;
  color: #1e88e5;
  border: 1px solid#1e88e5;
}

.item {
  padding: 10px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

  .wBg {
    text-align: center;
  }
}

h1 {
  min-height: 200px;
  background-color: #ccc;
  text-align: center;
  line-height: 200px;
}

@media (min-width: 500px) {
  .modal-lg {
      max-width: 70% !important;
  }
}

table tbody tr td label {
  font-weight: 300;
}
.cersor{cursor: pointer;}

.modal-xl {
  max-width: 1200px;
}

.ng-invalid-req {
  border-color: #fc4b6c
}

.set-button {
  background: #ffffff;
  color: #1e88e5;
  border: 1px solid#1e88e5;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
  display: none;
}
input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance:none;
  appearance: none;
  margin: -10px; 
}
