<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-collapse" style="padding-right: 55px;">
            <ul class="navbar-nav mr-auto mt-md-0">
                <li *ngIf="PrintButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickPrint()">
                            พิมพ์
                        </a>
                    </div>
                </li>
                <li *ngIf="EditButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="OnEdit()">
                            แก้ไข
                        </a>
                    </div>
                </li>
                <!-- <li *ngIf="DeleteButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="OnDelete()" style="background-color: #f47023">
                            ลบ
                        </a>
                    </div>
                </li> -->
                <li *ngIf="SaveButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="OnSave()">
                            บันทึก
                        </a>
                    </div>
                </li>
                <li *ngIf="CancelButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="OnCancel()">
                            ยกเลิก
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-collapse></app-card-actions-collapse>
        <h4 class="card-title m-b-0">หน่วยปริมาณ</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <label for="" class="col-lg-2 col-sm-4 control-label">รหัสหน่วยปริมาณ</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="UNIT_ID" [(ngModel)]="UNIT_ID" class="form-control " disabled>
                </div>
            </div>

            <label for="" class="col-lg-2 col-md-4 control-label is-required">ชื่อหน่วยปริมาณภาษาไทย</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="UNIT_NAME_TH" [(ngModel)]="UNIT_NAME_TH" class="form-control" class="form-control" [disabled]="showEditField"
                        [ngClass]="{'ng-touched':isRequired}" (keydown)="isReq_unitNameTH.next(false)">
                    <div class="alert alert-danger mt-3" role="alert" *ngIf="isReq_unitNameTH.value">
                        กรุณาระบุข้อมูล "ชื่อหน่วยปริมาณภาษาไทย"
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <label for="" class="col-lg-2 col-md-4 control-label is-required">ชื่อหน่วยปริมาณภาษาอังกฤษ</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="UNIT_NAME_EN" [(ngModel)]="UNIT_NAME_EN" class="form-control" class="form-control" [disabled]="showEditField"
                        [ngClass]="{'ng-touched':isRequired}" (keydown)="isReq_unitNameEN.next(false)">
                    <div class="alert alert-danger mt-3" role="alert" *ngIf="isReq_unitNameEN.value">
                        กรุณาระบุข้อมูล "ชื่อหน่วยปริมาณภาษาอังกฤษ"
                    </div>
                </div>
            </div>

            <label for="" class="col-lg-2 col-md-4 control-label">ชื่อย่อหน่วยปริมาณ</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="UNIT_SHORT_NAME is-required" [(ngModel)]="UNIT_SHORT_NAME" class="form-control" class="form-control"
                        [disabled]="showEditField" [ngClass]="{'ng-touched':isRequired}" (keydown)="isReq_unitShortName.next(false)">
                    <div class="alert alert-danger mt-3" role="alert" *ngIf="isReq_unitShortName.value">
                        กรุณาระบุข้อมูล "ชื่อย่อหน่วยปริมาณ"
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <label for="" class="col-lg-2 col-md-4 control-label is-required">วันที่เริ่มใช้งาน</label>
            <div class="col-lg-4 col-md-7">
                <div class="form-group input-group">
                    <my-date-picker-th name="CREATE_DATE" [options]="myDatePickerOptions" class="form-control unset-form-control" [(ngModel)]="CREATE_DATE"
                        [disabled]="showEditField" [ngClass]="{'ng-touched':isRequired}" (dateChanged)="isReq_createDate.next(false)"></my-date-picker-th>
                </div>
                <div class="alert alert-danger mt-3" role="alert" *ngIf="isReq_createDate.value">
                    กรุณาระบุข้อมูล "วันที่เริ่มใช้งาน"
                </div>
            </div>

            <label for="" class="col-lg-2 col-md-4 control-label is-required">วันที่สิ้นสุดใช้งาน</label>
            <div class="col-lg-4 col-md-7">
                <div class="form-group input-group">
                    <my-date-picker-th name="EXPIRE_DATE" [options]="myDatePickerOptions" class="form-control unset-form-control" [(ngModel)]="EXPIRE_DATE"
                        [disabled]="showEditField" [ngClass]="{'ng-touched':isRequired}" (dateChanged)="isReq_expDate.next(false)"></my-date-picker-th>
                </div>
                <div class="alert alert-danger mt-3" role="alert" *ngIf="isReq_expDate.value">
                    กรุณาระบุข้อมูล "วันที่สิ้นสุดใช้งาน"
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-sm-3">
                <div class="row form-group">
                    <div class="col">
                        <input type="checkbox" id="md_isActive" [(ngModel)]="chk1" name="chk1" class="filled-in chk-col-indigo" [disabled]="showEditField"
                            [checked]="IS_ACTIVE=='1'">
                        <label for="md_isActive">ใช้งาน</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>