<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">

      <div class="navbar-collapse" style="padding-right: 55px;">
          <ul class="navbar-nav mr-auto mt-md-0">
              <!-- <li class="nav-item">
        <div class="nav-link text-muted waves-effect waves-dark">
          <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickNew()">
            สร้างข้อมูล
          </a>
        </div>
      </li> -->
              <!-- <li *ngIf="false" class="nav-item">
        <div class="nav-link text-muted waves-effect waves-dark">
          <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickPrint()">
            พิมพ์
          </a>
        </div>
      </li> -->
              <li *ngIf="visableEditBtn" class="nav-item">
                  <div class="nav-link text-muted waves-effect waves-dark">
                      <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickEdit()">
            แก้ไข
          </a>
                  </div>
              </li>
              <!-- <li *ngIf="visableDeleteBtn" class="nav-item">
                  <div class="nav-link text-muted waves-effect waves-dark">
                      <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickDelete()" style="background-color: #f47023">

            ลบ
          </a>
                  </div>
              </li> -->
              <li *ngIf="visableUpdateBtn" class="nav-item">
                  <div class="nav-link text-muted waves-effect waves-dark">
                      <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickSave()">
            บันทึก
          </a>
                  </div>
              </li>
              <li *ngIf="visableCancelBtn" class="nav-item">
                  <div class="nav-link text-muted waves-effect waves-dark">
                      <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickCancel()">
            ยกเลิก
          </a>
                  </div>
              </li>

          </ul>
          <!-- <ul *ngIf="true" class="navbar-nav my-lg-0">
      <li class="nav-item col-8">
        <form autocomplete="off" class="app-search" #formSearch="ngForm" (ngSubmit)="clickSearch(formSearch)">
          <input type="search" name="TEXT_SEARCH" id="" ngModel class="form-control">
          <a href="javaScript:void(0);" (click)="onSearch(formSearch.form.value)" class="srh-btn">
            <i class="ti-search"></i>
          </a>
        </form>
      </li>
      <li class="nav-item col-9">
        <a href="javaScript:void(0);" class="btn text-white" (click)="setAdvSearch()">
          ค้นหาขั้นสูง
        </a>
      </li>
    </ul> -->
      </div>
  </nav>
</header>

<div class="card ">
  <div class="card-header  unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">ข้อมูลส่วนบุคคล</h4>
  </div>
  <div class="card-body">
      <div class="form-body">
            
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">Username :</label>
              <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                  <input type="text" [(ngModel)]="username" value="{{username}}" class="form-control form-control-sm" [readonly]="!visableUserDetail">
              </div>
              <!-- <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อเจ้าพนักงาน :</label> -->
              <!-- <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                      
              <input  *ngIf="userAccountId !=0" type="text" value="{{name}}" class="form-control form-control-sm" [readonly]="!visableUserDetail">
              <form *ngIf="userAccountId ==0" class="example-form">
                        <input type="text" class="form-control form-control-sm" placeholder="" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"  [readonly]="!visableUserDetail">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" (click)="setSatff(option)" [value]="option.TITLE_NAME_TH + ' ' +option.FIRST_NAME+ ' ' +option.LAST_NAME" >
                                  {{option.TITLE_NAME_TH}}  {{option.FIRST_NAME}}    {{option.LAST_NAME}}  
                          </mat-option>
                        </mat-autocomplete>
                    </form>
             
          
                 
              </div> -->
          </div>
          <!-- <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">ตำแหน่ง :</label>
              <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                  <input type="text" value="{{position}}" class="form-control form-control-sm" [readonly]="!visableUserDetail || visableCreateUserAccount">
              </div>
              <label for="" class="col-lg-2 col-sm-4 control-label">หน่วยงาน :</label>
              <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                  <input type="text" value="{{deparment}}" class="form-control form-control-sm" [readonly]="!visableUserDetail|| visableCreateUserAccount">
              </div>
          </div> -->
      </div>
  </div>
</div>
<div class="card card-outline-bluish unset-radius">
  <!-- <div class="card-header  unset-radius"> -->
      <!-- <div class="card-actions">
          <a class="" (click)="card5 = !card5">
              <i class="fa" [ngClass]="{'fa-chevron-down': card5, 'fa-chevron-up': !card5}"></i>
          </a>
      </div>
      <h4 class="card-title m-b-0">สินค้าต้องสงสัย</h4>
  </div> -->
  <div class="card-body" >
      <div class="row form-group">
          <div class="col-lg-10 col-md-9 col-sm-8"></div>
          <div class="col-lg-2 col-md-3 col-sm-4">
              <button [disabled]="!visableUpdateBtn" type="button" class="btn btn-block btn-themecolor" (click)="addPositionList()">เพิ่มผู้ใช้งาน</button>
          </div>
      </div>

      <table class="table table-sm table-striped table-set-border">
          <thead>
              <tr>
                  <th style="width:5%"> ลำดับ </th>
                  <th style="width:30%"> ชื่อเจ้าพนักงาน </th>
                  <th style="width:30%"> ตำแหน่ง</th>
                  <th style="width:30%"> หน่วยงาน</th>
                  <th style="width:5%"> </th>
              </tr>
          </thead>

          <tbody>
              <tr *ngFor="let item of positionList; let i = index;">
                <td> {{ i+1 }} </td>
                <td>  <input  *ngIf="userAccountId !=0" type="text" value="{{name}}" class="form-control form-control-sm" [readonly]="!visableUserDetail">
                      <form *ngIf="userAccountId ==0" class="example-form">
                      <!-- <mat-form-field class="example-full-width"> -->
                          <input type="text" class="form-control form-control-sm" placeholder="" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"  [readonly]="!visableUserDetail">
                          <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" (click)="setSatff(option)" [value]="option.TITLE_NAME_TH + ' ' +option.FIRST_NAME+ ' ' +option.LAST_NAME" >
                                  {{option.TITLE_NAME_TH}}  {{option.FIRST_NAME}}    {{option.LAST_NAME}}  
                          </mat-option>
                          </mat-autocomplete>
                      <!-- </mat-form-field> -->
                      </form> </td>
                <td>  <input type="text" value="{{position}}" class="form-control form-control-sm" [readonly]="!visableUserDetail || visableCreateUserAccount"> </td>
                <td> <input type="text" value="{{deparment}}" class="form-control form-control-sm" [readonly]="!visableUserDetail|| visableCreateUserAccount"> </td>
                <td> <i class="fa fa-trash" aria-hidden="true" (click)="deletePositionList()"></i> </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
<div class="card ">
  <div class="card-header  unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">การจัดการสิทธิ์เข้าถึงข้อมูล</h4>
  </div>

  <div class="card-body">
      <div class="form-body">
          <div class="table-responsive table-striped ">
              <table #fineTable class="table">
                  <thead>
                      <tr>
                          <th>การจัดการข้อมูล</th>
                          <th>การจัดการข้อมูลย่อย</th>

                          <th style="text-align:center;">สร้างข้อมูล</th>
                          <th style="text-align:center;">เรียกดูข้อมูล</th>
                          <th style="text-align:center;">แก้ไขข้อมูล</th>
                          <th style="text-align:center;">ลบข้อมูล</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of moduleForm; let i=index;">
                          <div class="td-list">
                              <td>{{item.MODULE_NAME}} </td>
                          </div>

                          <td>
                              {{item.MODULE_NAME_DETIAL}}
                          </td>
                          <td style="text-align:center;">
                              <input type="checkbox" name="chk4" id="chk4{{i}}" [(ngModel)]="item.isCreate" [disabled]="!visableUpdateBtn">
                              <label for="chk4{{i}}"></label>
                          </td>
                          <td style="text-align:center;">
                              <input type="checkbox" name="chk5" id="chk5{{i}}" [(ngModel)]="item.isRead" [disabled]="!visableUpdateBtn">
                              <label for="chk5{{i}}"></label>
                          </td>
                          <td style="text-align:center;">
                              <input type="checkbox" name="chk6" id="chk6{{i}}" [(ngModel)]="item.isUpdate" [disabled]="!visableUpdateBtn">
                              <label for="chk6{{i}}"></label>
                          </td>
                          <td style="text-align:center;">
                              <input type="checkbox" name="chk7" id="chk7{{i}}" [(ngModel)]="item.isDelete" [disabled]="!visableUpdateBtn">
                              <label for="chk7{{i}}"></label>
                          </td>
                      </tr>
                  </tbody>
              </table>

              <!-- <table #fineTable class="table">
                  <thead>
                      <tr>
                          <th>การจัดการข้อมูล Master</th>
                          <th style="text-align:center;">สร้างข้อมูล</th>
                          <th style="text-align:center;">เรียกดูข้อมูล</th>
                          <th style="text-align:center;">แก้ไขข้อมูล</th>
                          <th style="text-align:center;">ลบข้อมูล</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of getProgramCodeList('Master'); let x =index;">
                          <td>{{item.programName}} </td>
                          <td style="text-align:center;">
                              <input type="checkbox" name="chkbox4" id="chkbox4{{x}}" [(ngModel)]="item.isCreate">
                              <label for="chkbox4{{x}}"></label>
                          </td>
                          <td style="text-align:center;">
                              <input type="checkbox" name="chkbox5" id="chkbox5{{x}}" [(ngModel)]="item.isRead">
                              <label for="chkbox5{{x}}"></label>
                          </td>
                          <td style="text-align:center;">
                              <input type="checkbox" name="chk6" id="chkbox6{{x}}" [(ngModel)]="item.isUpdate">
                              <label for="chkbox6{{x}}"></label>
                          </td>
                          <td style="text-align:center;">
                              <input type="checkbox" name="chkbox7" id="chkbox7{{x}}" [(ngModel)]="item.isDelete">
                              <label for="chkbox7{{x}}"></label>
                          </td>
                      </tr>
                  </tbody>
              </table> -->
          </div>
      </div>
  </div>
</div>