<ng-template #evidenceOutItem let-c="close" let-d="dismiss">
  <app-evidence-out-item-modal (c)="modal.close()" (d)="modal.dismiss()" [moduleType]="moduleType"
    (Output)="evidenceOutItemSelected($event)">
  </app-evidence-out-item-modal>
</ng-template>

<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius" (click)="onCollapse(collapse_e_o_2)">
    <div class="card-actions">
      <div class="card-actions">
        <a class="">
          <i class="fa"
            [ngClass]="{'fa-chevron-up': (collapse_e_o_2 | async), 'fa-chevron-down': !(collapse_e_o_2 | async)}"></i>
        </a>
      </div>
    </div>
    <h4 class="card-title m-b-0">รายละเอียดของกลางที่นำออกไปบริจาค</h4>
  </div>
  <div *ngIf="collapse_e_o_2 | async" [formGroup]="evidenceOutFG" class="card-body">
    <div class="row">
      <label for="" class="col-lg-2 col-md-4 control-label">เลขที่นำออก</label>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="form-group ">
          <input type="text" formControlName="EVIDENCE_OUT_CODE" name="EVIDENCE_OUT_CODE"
            class="form-control form-control-sm" readonly>
        </div>
      </div>

      <label for="" class="col-lg-2 col-md-4 control-label">วันที่นำออก</label>
      <div class="input-group col-lg-4 col-md-7">
        <div style="width:45%">
          <my-date-picker-th name="EVIDENCE_OUT_DATE" [options]="myDatePickerOptions"
            formControlName="EVIDENCE_OUT_DATE" [ngClass]="{'ng-touched':isRequired}" [disabled]="showEditField"
            required>
          </my-date-picker-th>
        </div>
        <label for="" class="">&nbsp; เวลา &nbsp;</label>
        <input type="text" formControlName="EVIDENCE_OUT_TIME" name="EVIDENCE_OUT_TIME" style="height: 35px;"
          class="form-control form-control-sm" [readOnly]="showEditField" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
          maxlength="5" (keyup)="setFormatTimeControl($event,'EVIDENCE_OUT_TIME',evidenceOutFG)"
          [ngClass]="{'ng-touched':isRequired}" required>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-lg-10 col-md-9 col-sm-8"></div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <button class="btn btn-block btn-themecolor" (click)="openModal(evidenceOutItem)"
          [disabled]="showEditField">เพิ่มของกลาง</button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="table-responsive table-sm table-striped" style="overflow: hidden;">
          <table class="table" [formGroup]="evidenceOutFG">
            <thead>
              <tr>
                <th style="text-align: center;width:3%">ลำดับ</th>
                <th style="width:16%">เลขคดี(วันที่รับคดี)</th>
                <th style="width:10%">เลขทะเบียนบัญชี</th>
                <th style="width:25%">ของกลาง</th>
                <th style="width:10%">จำนวนทั้งหมด</th>
                <th style="width:10%">จำนวนนำออก</th>
                <th style="width:3%"></th>
              </tr>
            </thead>
            <tbody formArrayName="EvidenceOutItem">
              <ng-container *ngFor="let eOut of EvidenceOutItem.controls; let i=index;">
                <tr [formGroupName]="i">
                  <td style="text-align: center">{{i + 1}}</td>
                  <!--เลขคดี-->
                  <td>{{eOut.get('LAWSUIT_NO')?.value}}</td>

                  <!-- เลขทะเบียนบัญชี -->
                  <td>{{eOut.get('EVIDENCE_IN_ITEM_CODE')?.value}}</td>

                  <!-- ของกลาง -->
                  <td>{{eOut.get('PRODUCT_DESC')?.value}}</td>


                  <!-- จำนวนทั้งหมด -->
                  <td>
                    <ng-container *ngFor="let sb of getEvidenceOutStockBalance(eOut)">
                      <input type="text" value="{{sb.get('BALANCE_QTY')?.value}} {{sb.get('BALANCE_QTY_UNIT')?.value}}"
                        class="form-control form-control-sm" readonly>
                    </ng-container>
                  </td>

                  <!-- จำนวนนำออก -->
                  <td>
                    <input type="text" value="{{ eOut.get('QTY')?.value }} {{ eOut.get('QTY_UNIT')?.value }}"
                      class="form-control form-control-sm" readonly>
                  </td>

                  <td>
                    <a href="javaScript:void(0);" class="text-danger">
                      <i class="fa fa-trash-o fa-lg" (click)="eOutItemDelete(i)" [hidden]="showEditField"></i>
                    </a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>