<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">

    <div class="navbar-collapse" style="padding-right: 55px;">
      <ul class="navbar-nav mr-auto mt-md-0">
        <li *ngIf="false" class="nav-item">
          <div class="nav-link text-muted waves-effect waves-dark">
            <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickNew()">
              สร้างข้อมูล
            </a>
          </div>
        </li>
        <li *ngIf="false" class="nav-item">
          <div class="nav-link text-muted waves-effect waves-dark">
            <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickPrint()">
              พิมพ์
            </a>
          </div>
        </li>
        <li *ngIf="false" class="nav-item">
          <div class="nav-link text-muted waves-effect waves-dark">
            <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickEdit()">

              แก้ไข
            </a>
          </div>
        </li>
        <li *ngIf="false" class="nav-item">
          <div class="nav-link text-muted waves-effect waves-dark">
            <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickDelete()"
              style="background-color: #f47023">

              ลบ
            </a>
          </div>
        </li>
        <li *ngIf="false" class="nav-item">
          <div class="nav-link text-muted waves-effect waves-dark">
            <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickSave()">

              บันทึก
            </a>
          </div>
        </li>
        <li *ngIf="false" class="nav-item">
          <div class="nav-link text-muted waves-effect waves-dark">
            <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickCancel()">

              ยกเลิก
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item col-8">
          <form autocomplete="off" class="app-search" #formSearch="ngForm" (ngSubmit)="onSearch(formSearch.form.value)">
            <input type="search" [(ngModel)]="TEXT_SEARCH" name="TEXT_SEARCH" class="form-control">
            <a href="javaScript:void(0);" (click)="onSearch(formSearch.form.value);clearCon();" class="srh-btn">
              <i class="ti-search"></i>
            </a>
          </form>
        </li>
        <li class="nav-item col-9">
          <a href="javaScript:void(0);" class="btn text-white" (click)="toggleCollapse(collapse1)">
            ค้นหาขั้นสูง
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<div *ngIf="collapse1 | async" class="card card-outline-bluish unset-radius">
  <div class="card-header  unset-radius">
      <app-card-actions-close (click)="toggleCollapse(collapse1)"></app-card-actions-close>
      <h4 class="card-title m-b-0">ค้นหาขั้นสูง</h4>
    </div>
    
  <div class="card-body">
    <form class="form-horizontal" #advForm="ngForm" (ngSubmit)="onAdvSearch(advForm.value);clearADV();">
      <div class="form-body">

      <div class="row">
          <label class="control-label col-sm-2">เลขที่งาน</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group">
              <input class="form-control form-control-sm" type="text" [(ngModel)]="ARREST_CODE" name="ARREST_CODE">
            </div>
          </div>

          <label for="" class="col-md-2 control-label ">ชื่อผู้ต้องหา</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
              <div class="form-group input-group">
                <input type="text" name="PERSON_NAME" [(ngModel)]="PERSON_NAME" class="form-control form-control-sm" placeholder="">
            </div>
          </div>
      </div>
      <div class="row">
          <label for="" class="col-md-2 control-label ">เลขที่คดีเปรียบเทียบ</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
              <div class="form-group input-group">
                  <input type="text" name="COMPARE_NO" [(ngModel)]="COMPARE_NO" class="form-control form-control-sm" placeholder="">

                  <label for="OccurrenceDateTo">&nbsp;/&nbsp;</label>

                  <input type="text" name="COMPARE_NO_YEAR" [(ngModel)]="COMPARE_NO_YEAR" class="form-control form-control-sm" placeholder="">
              </div>
          </div>
          <label for="" class="col-md-2 control-label ">วันที่เปรียบเทียบคดี</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
              <div class="form-group input-group">
                  <my-date-picker-th ngModel name="COMPARE_DATE_FORM" placeholder="" locale="th"
                  [options]="myDatePickerCompareFromOptions" id="COMPARE_DATE_FORM"
                  [(ngModel)]="COMPARE_DATE_FORM"
                  (dateChanged)="onCompareDateFromChanged($event)" class="form-control form-control-sm unset-form-control">
                  </my-date-picker-th>

                  <label for="OccurrenceDateTo">&nbsp;ถึง&nbsp;</label>

                  <my-date-picker-th ngModel name="COMPARE_DATE_TO" placeholder="" locale="th"
                  [options]="myDatePickerCompareToOptions" id="COMPARE_DATE_TO"
                  [(ngModel)]="COMPARE_DATE_TO"
                  (dateChanged)="onCompareDateFromChanged($event)" class="form-control form-control-sm unset-form-control">
                  </my-date-picker-th>
              </div>
          </div>
      </div>
      <div class="row">
          <label for="" class="col-md-2 control-label ">สถานที่เปรียบเทียบคดี</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group input-group">
                <input type="text" name="COMPARE_OFFICE_NAME" [(ngModel)]="COMPARE_OFFICE_NAME" class="form-control form-control-sm" placeholder="" readonly>
            </div>
              <!-- <div class="form-group input-group" *ngIf="show_office == true">
                <ng-template #rt let-OFFICE_SHORT_NAME="result" let-t="term">
                  {{ OFFICE_SHORT_NAME }}
                </ng-template>
  
                <input type="text" name="COMPARE_OFFICE_NAME" ngModel [(ngModel)]="COMPARE_OFFICE_NAME" class="form-control form-control-sm "
                  [ngbTypeahead]="searchOffice_ll" [resultTemplate]="rt"
                  placeholder="{{office_name}}" />
              </div>
              <div class="form-group input-group" *ngIf="show_office == false">
                  <input type="text" name="COMPARE_OFFICE_NAME" ngModel [(ngModel)]="COMPARE_OFFICE_NAME" class="form-control form-control-sm" placeholder="{{office_name}}" disabled>
              </div> -->
          </div>
          <label for="" class="col-md-2 control-label ">เขียนที่</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
              <div class="form-group input-group">
                <input type="text" name="ARREST_OFFICE_NAME" [(ngModel)]="ARREST_OFFICE_NAME" class="form-control form-control-sm" placeholder="" readonly>
            </div>
          </div>
      </div>
      <div class="row">
        <label for="" class="col-md-2 control-label ">ประเภทการเปรียบเทียบ</label>
        <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group input-group">
            <select class="form-control form-control-sm" name="LAWSUIT_IS_OUTSIDE" ngModel [(ngModel)]="LAWSUIT_IS_OUTSIDE">
              <option value="">ทั้งหมด</option>
              <option value="1">เปรียบเทียบในสถานที่ทำการ</option>
              <option value="2">เปรียบเทียบนอกสถานที่ทำการ</option>
            </select>
          </div>
        </div>
        <label for="" class="col-md-2 control-label ">ประเภทการปรับ</label>
        <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group input-group">
            <select class="form-control form-control-sm" name="COMPARE_TYPE" ngModel [(ngModel)]="COMPARE_TYPE">
              <option value="">ทั้งหมด</option>
              <option value="1">ปรับลด</option>
              <option value="2">ปรับเพิ่ม</option>
            </select>
          </div>
        </div>
      </div>
      </div>
      <div class="row form-group">
        <div class="col-10"></div>
        <div class="col-2">
            <button type="submit"  class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div style="overflow: auto;">
      <table class="dataTable table table-sm table-striped table-nowrap" style="width:1800px">
        <thead>
          <tr>
            <th class="text-center">ลำดับ</th>
            <th >เลขที่งาน 
              <i [ngClass]="(ARREST_CODE_SORTING | async) ? 'mdi mdi-sort-descending' : 'mdi mdi-sort-ascending'"
              style="margin-left: 5px;cursor: pointer;" (click)="Sorter(ARREST_CODE_SORTING,'ARREST_CODE')"></i>
            </th>
            <th style="width: 200px;">ชื่อผู้ต้องหา</th>
            <th >เลขที่คดีเปรียบเทียบ
              <i [ngClass]="(COMPARE_NO_SORTING | async) ? 'mdi mdi-sort-descending' : 'mdi mdi-sort-ascending'"
              style="margin-left: 5px;cursor: pointer;" (click)="Sorter(COMPARE_NO_SORTING,'COMPARE_NO')"></i>
            </th>
            <th style="width: 170px;">วันที่เปรียบเทียบคดี
              <i [ngClass]="(COMPARE_DATE_SORTING | async) ? 'mdi mdi-sort-descending' : 'mdi mdi-sort-ascending'"
              style="margin-left: 5px;cursor: pointer;" (click)="Sorter(COMPARE_DATE_SORTING,'COMPARE_DATE')"></i>
            </th>
            <th >สถานที่เปรียบเทียบคดี</th>
            <th >เขียนที่</th>
            <th >ประเภทการปรับ</th>
            <th style="width: 200px;">ค่าปรับเปรียบเทียบคดีใหม่</th>
            <th style="width: 200px;">ค่าปรับเปรียบเทียบคดีเดิม</th>
            <th ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ReductionList; let i=index;" class="pointer" (click)="clickView(item.COMPARE_ID,item.INDICTMENT_ID, item.ARREST_CODE)">
            <td style="text-align: center">{{item.RowsId}}</td>
            <td>{{item.ARREST_CODE}}</td>
            <td></td>
            <td>{{item.COMPARE_NO }}/{{item.COMPARE_NO_YEAR | thaidate: 'year'}}</td>
            <td>{{item.COMPARE_DATE | thaidate: 'date'}}</td>
            <td>{{item.COMPARE_OPERATION_OFFICE_SHORT_NAME}}</td>
            <td>{{item.ACCUSER_OPERATION_OFFICE_SHORT_NAME}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center" >
              <a href="javaScript:void(0);" class="text-secondary">
                <i class="mdi mdi-eye fa-lg"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer card-footer-unset">
    <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage"
      [PageSize]="paginage.PageSize" [RowsPerPageOptions]="paginage.RowsPerPageOptions"
      (onPageChange)="pageChanges($event)">
    </app-pagination-table>
  </div>
</div>
