<form #form="ngForm" (ngSubmit)="onPrint(form)">
    <div class="modal-header bg-theme">
        <div class="row">
            <div class="col-lg-5">
                <h4 class="modal-title text-white">พิมพ์เอกสาร</h4>
            </div>
            <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close"
                (click)="dismiss('Cross click')">
                <span aria-hidden="true">
                    <i class=" ti-close"></i>
                </span>
            </a>
        </div>
    </div>

    <h5 class="text-right mt-3 pr-3">ILG60_O_09_02_02_01</h5>

    <div class="modal-body font-14" [formGroup]="FG">
        <div class="card unset-radius">
            <div class="table-responsive table-sm table-striped" style="overflow: hidden;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:5%"></th>
                            <th style="text-align: center;width:5%">ลำดับ</th>
                            <th>ชื่อเอกสาร</th>
                            <th>ประเภทเอกสาร</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="PrintDoc">
                        <tr *ngFor="let item of PrintDoc.controls; let i=index;" [formGroupName]="i">
                            <td class="text-center">
                                <input type="checkbox" formControlName="IsChecked" [id]="'td' + i"
                                    class="filled-in chk-col-indigo">
                                <label [for]="'td' + i" class="m-0"></label>
                            </td>
                            <td style="text-align: center">{{i+1}}</td>
                            <td>{{item.get('DocName').value}}</td>
                            <td>{{item.get('DocTypeName').value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-lg-2 col-4">
            <button type="submit" class="btn btn-block btn-themecolor">พิมพ์</button>
        </div>
    </div>
</form>