.btn-PDF {
    background: #ffffff;
    color: #ff0000;
    border: 2px solid #ff0000;
    font-weight: 600;
}

.btn-Excel {
    background: #ffffff;
    color: #00cc00;
    border: 2px solid #00cc00;
    font-weight: 600;
}