::ng-deep [id^="ngb-typeahead-"]{ 
    width: 100%!important; 
    top: 35px !important;
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
} 

.ng-isproductcar {
  width:2500px;
}

.item {
  padding: 10px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

  .wBg {
    text-align: center;
  }
}


::ng-deep [id^="ngb-typeahead-"]{ 
    min-width: 94%!important; 
    top: 32.5px !important;
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
} 

::ng-deep .form-body {
  font-weight: 400;
}

.ng-invalid-req {
  border-color: #fc4b6c
}

textarea.ng-invalid-req {
  border-color: #fc4b6c
}

.ng-invalid-req {
  border-color: #fc4b6c
}

.is-invalid {
  border-color: red;
}