<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">

      <div class="navbar-collapse">
          <ul class="navbar-nav mr-auto mt-md-0">
              <li *ngIf="craete_btn" class="nav-item" >
                  <div class="nav-link text-muted waves-effect waves-dark">
                      <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickNew()">
                          สร้างข้อมูล
                      </a>
                  </div>
              </li>
              <li *ngIf="print_btn" class="nav-item">
                  <div class="nav-link text-muted waves-effect waves-dark">
                      <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickPrint()">
                          พิมพ์
                      </a>
                  </div>
              </li>
              <li *ngIf="edit_btn" class="nav-item">
                  <div class="nav-link text-muted waves-effect waves-dark">
                      <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickEdit()">

                          แก้ไข
                      </a>
                  </div>
              </li>
              <li *ngIf="delete_btn" class="nav-item">
                  <div class="nav-link text-muted waves-effect waves-dark">
                      <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickDelete()"
                          style="background-color: #f47023">

                          ลบ
                      </a>
                  </div>
              </li>
              <li *ngIf="save_btn" class="nav-item">
                  <div class="nav-link text-muted waves-effect waves-dark">
                      <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickSave()">

                          ส่งเป้า
                      </a>
                  </div>
              </li>
              <li *ngIf="cancel_btn" class="nav-item">
                  <div class="nav-link text-muted waves-effect waves-dark">
                      <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickCancel()">

                          ยกเลิก
                      </a>
                  </div>
              </li>
          </ul>
          <ul *ngIf="search_text" class="navbar-nav my-lg-0 ">
              <li class="nav-item col-8">
                  <form autocomplete="off" class="app-search" #formSearch="ngForm"
                      (ngSubmit)="clickSearch(formSearch)">
                      <input type="search" name="Textsearch" id="" ngModel class="form-control">
                      <a href="javaScript:void(0);" (click)="clickSearch(formSearch)" class="srh-btn">
                          <i class="ti-search"></i>
                      </a>
                  </form>
              </li>
              <li class="nav-item col-9">
                  <a href="javaScript:void(0);" class="btn text-white" (click)="clickAdvSearch()">
                      ค้นหาขั้นสูง
                  </a>
              </li>
          </ul>           
      </div>
  </nav>
</header>

<div class="card card-outline-bluish unset-radius">
  <div class="card-header  unset-radius">
    <!-- <div class="">

    </div> -->
    <app-card-actions-collapse>
      <div class="card-actions">
        <a href="" class="">
          <i class="fa fa-chevron-down">
            ::before
          </i>
        </a>
      </div>
    </app-card-actions-collapse>
    <h4 class="card-title m-b-0">ข้อมูลเป้าหมายปราบปราม</h4>
  </div>
  <div class="card-body">
    <div class="row">
        <label for="" class="col-lg-2 col-sm-4 control-label">เลขที่เป้าปราบปราม</label>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="form-group ">
          <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
            formcontrolname="" readonly="" ng-reflect-name="" [(ngModel)]="target_id" ngmodel>
        </div>
      </div>
      <label for="" class="col-lg-2 col-sm-4 control-label">ครั้งที่</label>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="form-group ">
          <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
            formcontrolname=""  ng-reflect-name="" readonly="" [(ngModel)]="sequence" ngmodel>
        </div>
      </div>
    </div>

    <div class="row"> 
      <!-- เพิ่มปีงบประมาณ 17/06/62 -->
      <label for="" class="col-lg-2 col-sm-4 control-label">ปีงบประมาณ</label>
      <div class="col-lg-4 col-md-7 col-sm-8">
          <div class="form-group ">
            <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
            formcontrolname=""  ng-reflect-name="" readonly="" [(ngModel)]="year" ngmodel>
          </div>
        </div>

      <label for="" class="col-lg-2 col-sm-4 control-label">กลุ่มสินค้า
      </label>

      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="form-group ">
          <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
            formcontrolname=""  ng-reflect-name="" readonly="" [(ngModel)]="product" ngmodel>
        </div>
      </div>
    </div>

    <div class="row"> 
      <label for="" class="col-lg-2 col-sm-4 control-label">ลักษณะคดี</label>
      <div class="col-lg-4 col-md-7 col-sm-8">
          <div class="form-group ">
            <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
            formcontrolname=""  ng-reflect-name="" readonly="" [(ngModel)]="lawsult_name" ngmodel>
            
          </div>
        </div>

        <label for="" class="col-lg-2 col-sm-4 control-label">หน่วยงาน</label>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div class="form-group ">
            <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
            formcontrolname=""  ng-reflect-name="" readonly="" [(ngModel)]="office_name" ngmodel>
          </div>
        </div>
    </div>

    <div class="row">
        <label for="" class="col-lg-2 col-sm-4 control-label">จำนวนคดีรวมที่ผ่านมา</label>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="form-group ">
          <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
            formcontrolname=""  ng-reflect-name="" readonly="" [(ngModel)]="old_qty" ngmodel>
        </div>
      </div>
      <label for="" class="col-lg-2 col-sm-4 control-label">ค่าปรับรวมที่ผ่านมา</label>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="form-group ">
          <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid"
          formcontrolname=""  ng-reflect-name="" readonly="" [(ngModel)]="old_fine" ngmodel>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- พื้นที่/ภาค ------------------------------------------------------------------------------------------>
<div class="card card-outline-bluish unset-radius">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse>
      <div class="card-actions">
        <a href="" class="">
          <i class="fa fa-chevron-down">
            ::before
          </i>
        </a>
      </div>
    </app-card-actions-collapse>
    <h4 class="card-title m-b-0">รายละเอียดเป้าปราบปราม</h4>
  </div>
  <div class="card-body">
      <div class="card unset-radius">
          <div class="card-body  p-0">

            <div class="container">
                
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                      <br><h4>ข้อมูลที่ต้องการเเสดงเป้าปราบปราม</h4><br>
                        <div class="row form-group">
                            <div class="col" *ngFor="let item of list">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="md_checkbox_1" [(ngModel)]="item.checked"
                                [(ngModel)]="row3"
                                [(ngModel)]="row4"
                                [(ngModel)]="row5"
                                name="chk1" class="filled-in chk-col-indigo">
                                <label for="md_checkbox_1"><p>ทั้งหมด</p> </label>
                            </div>
                            <div class="col" *ngFor="let item of list1">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="md_checkbox_2"  [(ngModel)]="item.checked" [(ngModel)]="row4"  data-md-icheck (change)="toggleVisibility($event)" name="chk2" class="filled-in chk-col-indigo">
                                <label for="md_checkbox_2">เงินสินบน </label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col" *ngFor="let item of list2">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"  disabled="disabled" id="md_checkbox_3"  [(ngModel)]="item.checked" [(ngModel)]="row1"  data-md-icheck (change)="toggleVisibility($event)" name="chk3" class="filled-in chk-col-indigo">
                                <label for="md_checkbox_3">จำนวนคดี </label>
                                <!-- disabled="disabled" -->
                            </div>
                            <div class="col" *ngFor="let item of list3">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="md_checkbox_4"  [(ngModel)]="item.checked" [(ngModel)]="row5"  data-md-icheck (change)="toggleVisibility($event)" name="chk4" class="filled-in chk-col-indigo">
                                <label for="md_checkbox_4">เงินรางวัล </label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col" *ngFor="let item of list4">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"  disabled="disabled" id="md_checkbox_5"  [(ngModel)]="item.checked" [(ngModel)]="row2"  data-md-icheck (change)="toggleVisibility($event)"  name="chk5" class="filled-in chk-col-indigo">
                                <label for="md_checkbox_5">เงินค่าปรับ </label>
                                <!-- disabled="disabled" -->
                            </div>
                            <div class="col" *ngFor="let item of list5">
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="md_checkbox_6"  [(ngModel)]="item.checked" [(ngModel)]="row3"  data-md-icheck (change)="toggleVisibility($event)" name="chk6" class="filled-in chk-col-indigo">
                                <label for="md_checkbox_6">เงินส่งคลัง </label>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
              

          </div>
        </div>
        
  <div class="card unset-radius" >
    <div class="card-body  p-0">
      <div class="table-responsive table-sm table-striped inner">
        <table class="table" >
          <!-- -----------------------------------------------------------table 1 ---------------------------------------------------------------->
          <td *ngIf="table1">
            <thead>
                <tr *ngIf="row">
                    <th></th>
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header1 }}</th>
                </tr>
                <tr>
                    <th></th>
                    <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tempDatas1;let i = index;">
                  <td class="headcol table-fix">
                <label class="control-label ">{{item.MONTH}}</label>
                </td>
                <td *ngIf="row1">
                  <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                  [(ngModel)]='item.QTY' readonly="">
                </td>
                <td *ngIf="row2">
                  <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                  [(ngModel)]='item.FINE' readonly="">
                </td>
                <td *ngIf="row3">
                  <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                  [(ngModel)]='item.TRE' readonly="">
                </td>
                <td *ngIf="row4">
                  <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                  [(ngModel)]='item.BRI' readonly="">
                </td>
                <td *ngIf="row5">
                  <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                  [(ngModel)]='item.AWA' readonly="">
                </td>
                </tr>
                <tr>
                    <th class="headcol">รวม</th>
                    <th class="text-right" *ngIf="row1">{{total_QTY1()}} คดี</th>
                    <th class="text-right" *ngIf="row2">{{total_FINE1()}} บาท</th>
                    <th class="text-right" *ngIf="row3">{{total_TRE1()}} บาท</th>
                    <th class="text-right" *ngIf="row4">{{total_BRI1()}} บาท</th>
                    <th class="text-right" *ngIf="row5">{{total_AWA1()}} บาท</th>
                  </tr>
              </tbody>
            </td>
            <!-- -----------------------------------------------------------table 2 ---------------------------------------------------------------->
          <td *ngIf="table2">
            <thead>
                <tr *ngIf="row">
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header2 }}</th>
                </tr>
                <tr>
                    <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tempDatas2;let i = index;">
                  <td *ngIf="row1">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                    [(ngModel)]='item.QTY' readonly="">
                  </td>
                  <td *ngIf="row2">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                    [(ngModel)]='item.FINE' readonly="">
                  </td>
                  <td *ngIf="row3">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.TRE' readonly="">
                  </td>
                  <td *ngIf="row4">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.BRI' readonly="">
                  </td>
                  <td *ngIf="row5">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.AWA' readonly="">
                  </td>
                  </tr>
                  <tr>
                      <th class="text-right" *ngIf="row1">{{total_QTY2()}} คดี</th>
                      <th class="text-right" *ngIf="row2">{{total_FINE2()}} บาท</th>
                      <th class="text-right" *ngIf="row3">{{total_TRE2()}} บาท</th>
                      <th class="text-right" *ngIf="row4">{{total_BRI2()}} บาท</th>
                      <th class="text-right" *ngIf="row5">{{total_AWA2()}} บาท</th>
                    </tr>
                </tbody>
            </td>
            <!-- -----------------------------------------------------------table 3 ---------------------------------------------------------------->
          <td *ngIf="table3">
            <thead>
                <tr *ngIf="row">
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header3 }}</th>
                </tr>
                <tr>
                    <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tempDatas3;let i = index;">
                  <td *ngIf="row1">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                    [(ngModel)]='item.QTY' readonly="">
                  </td>
                  <td *ngIf="row2">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                    [(ngModel)]='item.FINE' readonly="">
                  </td>
                  <td *ngIf="row3">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.TRE' readonly="">
                  </td>
                  <td *ngIf="row4">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.BRI' readonly="">
                  </td>
                  <td *ngIf="row5">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.AWA' readonly="">
                  </td>
                  </tr>
                  <tr>
                      <th class="text-right" *ngIf="row1">{{total_QTY3()}} คดี</th>
                      <th class="text-right" *ngIf="row2">{{total_FINE3()}} บาท</th>
                      <th class="text-right" *ngIf="row3">{{total_TRE3()}} บาท</th>
                      <th class="text-right" *ngIf="row4">{{total_BRI3()}} บาท</th>
                      <th class="text-right" *ngIf="row5">{{total_AWA3()}} บาท</th>
                    </tr>
                </tbody>
            </td>
            <!-- -----------------------------------------------------------table 4 ---------------------------------------------------------------->
          <td *ngIf="table4">
            <thead>
                <tr *ngIf="row">
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header4 }}</th>
                </tr>
                <tr>
                    <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tempDatas4;let i = index;">
                  <td *ngIf="row1">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                    [(ngModel)]='item.QTY' readonly="">
                  </td>
                  <td *ngIf="row2">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                    [(ngModel)]='item.FINE' readonly="">
                  </td>
                  <td *ngIf="row3">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.TRE' readonly="">
                  </td>
                  <td *ngIf="row4">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.BRI' readonly="">
                  </td>
                  <td *ngIf="row5">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.AWA' readonly="">
                  </td>
                  </tr>
                  <tr>
                      <th class="text-right" *ngIf="row1">{{total_QTY4()}} คดี</th>
                      <th class="text-right" *ngIf="row2">{{total_FINE4()}} บาท</th>
                      <th class="text-right" *ngIf="row3">{{total_TRE4()}} บาท</th>
                      <th class="text-right" *ngIf="row4">{{total_BRI4()}} บาท</th>
                      <th class="text-right" *ngIf="row5">{{total_AWA4()}} บาท</th>
                    </tr>
                </tbody>
            </td>
            <!-- -----------------------------------------------------------table 5 ---------------------------------------------------------------->
          <td *ngIf="table5">
            <thead>
                <tr *ngIf="row">
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header5 }}</th>
                </tr>
                <tr>
                    <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tempDatas5;let i = index;">
                  <td *ngIf="row1">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                    [(ngModel)]='item.QTY' readonly="">
                  </td>
                  <td *ngIf="row2">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                    [(ngModel)]='item.FINE' readonly="">
                  </td>
                  <td *ngIf="row3">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.TRE' readonly="">
                  </td>
                  <td *ngIf="row4">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.BRI' readonly="">
                  </td>
                  <td *ngIf="row5">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.AWA' readonly="">
                  </td>
                  </tr>
                  <tr>
                      <th class="text-right" *ngIf="row1">{{total_QTY5()}} คดี</th>
                      <th class="text-right" *ngIf="row2">{{total_FINE5()}} บาท</th>
                      <th class="text-right" *ngIf="row3">{{total_TRE5()}} บาท</th>
                      <th class="text-right" *ngIf="row4">{{total_BRI5()}} บาท</th>
                      <th class="text-right" *ngIf="row5">{{total_AWA5()}} บาท</th>
                    </tr>
                </tbody>
            </td>
            <!-- -----------------------------------------------------------table 6 ---------------------------------------------------------------->
          <td *ngIf="table6">
            <thead>
                <tr *ngIf="row">
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header6 }}</th>
                </tr>
                <tr>
                    <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tempDatas6;let i = index;">
                  <td *ngIf="row1">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                    [(ngModel)]='item.QTY' readonly="">
                  </td>
                  <td *ngIf="row2">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                    [(ngModel)]='item.FINE' readonly="">
                  </td>
                  <td *ngIf="row3">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.TRE' readonly="">
                  </td>
                  <td *ngIf="row4">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.BRI' readonly="">
                  </td>
                  <td *ngIf="row5">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.AWA' readonly="">
                  </td>
                  </tr>
                  <tr>
                      <th class="text-right" *ngIf="row1">{{total_QTY6()}} คดี</th>
                      <th class="text-right" *ngIf="row2">{{total_FINE6()}} บาท</th>
                      <th class="text-right" *ngIf="row3">{{total_TRE6()}} บาท</th>
                      <th class="text-right" *ngIf="row4">{{total_BRI6()}} บาท</th>
                      <th class="text-right" *ngIf="row5">{{total_AWA6()}} บาท</th>
                    </tr>
                </tbody>
            </td>
            <!-- -----------------------------------------------------------table 7 ---------------------------------------------------------------->
          <td *ngIf="table7">
            <thead>
                <tr *ngIf="row">
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header7 }}</th>
                </tr>
                <tr>
                    <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tempDatas7;let i = index;">
                  <td *ngIf="row1">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                    [(ngModel)]='item.QTY' readonly="">
                  </td>
                  <td *ngIf="row2">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                    [(ngModel)]='item.FINE' readonly="">
                  </td>
                  <td *ngIf="row3">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.TRE' readonly="">
                  </td>
                  <td *ngIf="row4">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.BRI' readonly="">
                  </td>
                  <td *ngIf="row5">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.AWA' readonly="">
                  </td>
                  </tr>
                  <tr>
                      <th class="text-right" *ngIf="row1">{{total_QTY7()}} คดี</th>
                      <th class="text-right" *ngIf="row2">{{total_FINE7()}} บาท</th>
                      <th class="text-right" *ngIf="row3">{{total_TRE7()}} บาท</th>
                      <th class="text-right" *ngIf="row4">{{total_BRI7()}} บาท</th>
                      <th class="text-right" *ngIf="row5">{{total_AWA7()}} บาท</th>
                    </tr>
                </tbody>
            </td>
            <!-- -----------------------------------------------------------table 8 ---------------------------------------------------------------->
          <td *ngIf="table8">
            <thead>
                <tr *ngIf="row">
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header8 }}</th>
                </tr>
                <tr>
                    <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tempDatas8;let i = index;">
                  <td *ngIf="row1">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                    [(ngModel)]='item.QTY' readonly="">
                  </td>
                  <td *ngIf="row2">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                    [(ngModel)]='item.FINE' readonly="">
                  </td>
                  <td *ngIf="row3">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.TRE' readonly="">
                  </td>
                  <td *ngIf="row4">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.BRI' readonly="">
                  </td>
                  <td *ngIf="row5">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.AWA' readonly="">
                  </td>
                  </tr>
                  <tr>
                      <th class="text-right" *ngIf="row1">{{total_QTY8()}} คดี</th>
                      <th class="text-right" *ngIf="row2">{{total_FINE8()}} บาท</th>
                      <th class="text-right" *ngIf="row3">{{total_TRE8()}} บาท</th>
                      <th class="text-right" *ngIf="row4">{{total_BRI8()}} บาท</th>
                      <th class="text-right" *ngIf="row5">{{total_AWA8()}} บาท</th>
                    </tr>
                </tbody>
            </td>
            <!-- -----------------------------------------------------------table 9 ---------------------------------------------------------------->
          <td *ngIf="table9">
            <thead>
                <tr *ngIf="row">
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header9 }}</th>
                </tr>
                <tr>
                    <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tempDatas9;let i = index;">
                  <td *ngIf="row1">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                    [(ngModel)]='item.QTY' readonly="">
                  </td>
                  <td *ngIf="row2">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                    [(ngModel)]='item.FINE' readonly="">
                  </td>
                  <td *ngIf="row3">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.TRE' readonly="">
                  </td>
                  <td *ngIf="row4">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.BRI' readonly="">
                  </td>
                  <td *ngIf="row5">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.AWA' readonly="">
                  </td>
                  </tr>
                  <tr>
                      <th class="text-right" *ngIf="row1">{{total_QTY9()}} คดี</th>
                      <th class="text-right" *ngIf="row2">{{total_FINE9()}} บาท</th>
                      <th class="text-right" *ngIf="row3">{{total_TRE9()}} บาท</th>
                      <th class="text-right" *ngIf="row4">{{total_BRI9()}} บาท</th>
                      <th class="text-right" *ngIf="row5">{{total_AWA9()}} บาท</th>
                    </tr>
                </tbody>
            </td>
            <!-- -----------------------------------------------------------table 10 ---------------------------------------------------------------->
          <td *ngIf="table10">
            <thead>
                <tr *ngIf="row">
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header10 }}</th>
                </tr>
                <tr>
                    <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tempDatas10;let i = index;">
                  <td *ngIf="row1">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                    [(ngModel)]='item.QTY' readonly="">
                  </td>
                  <td *ngIf="row2">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                    [(ngModel)]='item.FINE' readonly="">
                  </td>
                  <td *ngIf="row3">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.TRE' readonly="">
                  </td>
                  <td *ngIf="row4">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.BRI' readonly="">
                  </td>
                  <td *ngIf="row5">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.AWA' readonly="">
                  </td>
                  </tr>
                  <tr>
                      <th class="text-right" *ngIf="row1">{{total_QTY10()}} คดี</th>
                      <th class="text-right" *ngIf="row2">{{total_FINE10()}} บาท</th>
                      <th class="text-right" *ngIf="row3">{{total_TRE10()}} บาท</th>
                      <th class="text-right" *ngIf="row4">{{total_BRI10()}} บาท</th>
                      <th class="text-right" *ngIf="row5">{{total_AWA10()}} บาท</th>
                    </tr>
                </tbody>
            </td>
             <!-- -----------------------------------------------------------table 11 ---------------------------------------------------------------->
             <td *ngIf="table11">
              <thead>
                  <tr *ngIf="row">
                    <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header11 }}</th>
                  </tr>
                  <tr>
                      <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                      <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                      <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                      <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                      <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tempDatas11;let i = index;">
                    <td *ngIf="row1">
                      <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                      [(ngModel)]='item.QTY' readonly="">
                    </td>
                    <td *ngIf="row2">
                      <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                      [(ngModel)]='item.FINE' readonly="">
                    </td>
                    <td *ngIf="row3">
                      <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                      [(ngModel)]='item.TRE' readonly="">
                    </td>
                    <td *ngIf="row4">
                      <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                      [(ngModel)]='item.BRI' readonly="">
                    </td>
                    <td *ngIf="row5">
                      <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                      [(ngModel)]='item.AWA' readonly="">
                    </td>
                    </tr>
                    <tr>
                        <th class="text-right" *ngIf="row1">{{total_QTY11()}} คดี</th>
                        <th class="text-right" *ngIf="row2">{{total_FINE11()}} บาท</th>
                        <th class="text-right" *ngIf="row3">{{total_TRE11()}} บาท</th>
                        <th class="text-right" *ngIf="row4">{{total_BRI11()}} บาท</th>
                        <th class="text-right" *ngIf="row5">{{total_AWA11()}} บาท</th>
                      </tr>
                  </tbody>
              </td>
              <!-- -----------------------------------------------------------table 12 ---------------------------------------------------------------->
              <td *ngIf="table12">
              <thead>
                  <tr *ngIf="row">
                    <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">{{ item.header12 }}</th>
                  </tr>
                  <tr>
                      <th class="text-center" style="color:#495057" *ngIf="row1">จำนวนคดี</th>
                      <th class="text-center" style="color:#495057" *ngIf="row2">จำนวนค่าปรับ</th>
                      <th class="text-center" style="color:#495057" *ngIf="row3">เงินส่งคลัง</th>
                      <th class="text-center" style="color:#495057" *ngIf="row4">เงินสินบน</th>
                      <th class="text-center" style="color:#495057" *ngIf="row5">เงินรางวัล</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tempDatas12;let i = index;">
                    <td *ngIf="row1">
                      <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                      [(ngModel)]='item.QTY' readonly="">
                    </td>
                    <td *ngIf="row2">
                      <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                      [(ngModel)]='item.FINE' readonly="">
                    </td>
                    <td *ngIf="row3">
                      <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                      [(ngModel)]='item.TRE' readonly="">
                    </td>
                    <td *ngIf="row4">
                      <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                      [(ngModel)]='item.BRI' readonly="">
                    </td>
                    <td *ngIf="row5">
                      <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                      [(ngModel)]='item.AWA' readonly="">
                    </td>
                    </tr>
                    <tr>
                        <th class="text-right" *ngIf="row1">{{total_QTY12()}} คดี</th>
                        <th class="text-right" *ngIf="row2">{{total_FINE12()}} บาท</th>
                        <th class="text-right" *ngIf="row3">{{total_TRE12()}} บาท</th>
                        <th class="text-right" *ngIf="row4">{{total_BRI12()}} บาท</th>
                        <th class="text-right" *ngIf="row5">{{total_AWA12()}} บาท</th>
                      </tr>
                  </tbody>
              </td>
            <!-- ----------------------------------------------------------- total table ---------------------------------------------------------------->
          <td *ngIf="table">
            <thead>
                <tr *ngIf="row">
                  <th class="text-center" *ngFor="let item of tempData" [attr.colspan]="5">ยอดรวมทุกพื้นที่สาขาในเเต่ละเดือน</th>
                </tr>
                <tr>
                    <th class="text-center" style="color:#495057" *ngIf="row1">เป้าจำนวนคดีรวม</th>
                    <th class="text-center" style="color:#495057" *ngIf="row2">เป้าค่าปรับรวม</th>
                    <th class="text-center" style="color:#495057" *ngIf="row3">เป้าเงินส่งคลังรวม</th>
                    <th class="text-center" style="color:#495057" *ngIf="row4">เป้าเงินสินบนรวม</th>
                    <th class="text-center" style="color:#495057" *ngIf="row5">เป้าเงินรางวัลรวม</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tempDatas;let i = index;">
                  <td *ngIf="row1">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right "
                    [(ngModel)]='item.QTY' readonly="">
                  </td>
                  <td *ngIf="row2">
                    <input type="number" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right" 
                    [(ngModel)]='item.FINE' readonly="">
                  </td>
                  <td *ngIf="row3">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.TRE' readonly="">
                  </td>
                  <td *ngIf="row4">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.BRI' readonly="">
                  </td>
                  <td *ngIf="row5">
                    <input type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid text-right"
                    [(ngModel)]='item.AWA' readonly="">
                  </td>
                  </tr>
                  <tr>
                      <th class="text-right" *ngIf="row1">{{total_QTY()}} คดี</th>
                      <th class="text-right" *ngIf="row2">{{total_FINE()}} บาท</th>
                      <th class="text-right" *ngIf="row3">{{total_TRE()}} บาท</th>
                      <th class="text-right" *ngIf="row4">{{total_BRI()}} บาท</th>
                      <th class="text-right" *ngIf="row5">{{total_AWA()}} บาท</th>
                    </tr>
                </tbody>
            </td>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
