.modal-body {
    margin: 1.5em 12em;
}

.btn-Red {
    background: #ffffff;
    color: #ff0000;
    border: 1px solid #ff0000;
    font-weight: 400;
}

.ng-invalid-req {
    border-color: #fc4b6c
  }