::ng-deep [id^="ngb-typeahead-"]{ 
    min-width: 94%!important; 
    top: 47.5px !important;
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
} 