<div class="modal-header bg-theme">
    <div class="row">
      <div class="col-lg-5">
        <h4 class="modal-title text-white">รายละเอียดการกระทำผิด</h4>
      </div>
  
      <div class="col-lg-6 col-8">
      </div>
  
      <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close" (click)="dismiss('Cross click')">
        <span aria-hidden="true">
          <i class=" ti-close"></i>
        </span>
      </a>
    </div>
  </div>
  <h5 class="text-right mt-3 pr-3">ILG60_MAS_01_01_02_01</h5>
  <div class="modal-body font-14">
    <div>
      <div class="card unset-radius m-b-15">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table style="width: 180%; max-width: unset;" class="table table-sm table-striped table-nowrap">
              <thead>
                <tr>
                  <th></th>
                </tr>
              </thead>
              <tbody>
               <tr>
                 <td></td>
               </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer card-footer-unset">
          <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage"
            [PageSize]="paginage.PageSize" [RowsPerPageOptions]="paginage.RowsPerPageOptions"
            (onPageChange)="pageChanges($event)">
          </app-pagination-table>
        </div>
      </div>
    </div>
  
  </div>