/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

// .mat-expansion-panel-content {
//     font: unset !important;
// }

// .cdk-global-overlay-wrapper, .cdk-overlay-container {
//   z-index: 99999 !important;
// }

// mat-dialog-container.mat-dialog-container {
//     padding: unset;
// }

// .cdk-overlay-pane {
//     /* Do you changes here */
//     min-width: auto;
//     width: auto !important;
// }

//*********************************************************//
// input:read-only,
// textarea:read-only,
// select:disabled {
//     color: black !important; 
//     font-size: .9rem !important
// }
// input[type=number]::-webkit-outer-spin-button,
// input[type=number]::-webkit-inner-spin-button{
//     -webkit-appearance: none;
//     margin: 0;
// }
//**************************************************

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.btn-block {
  width: 100% !important;
}

.btn-green {
  background-color: #00cc00;
  border-color: #00cc00;
  color: #ffffff;
}

.input-group .slash {
  font-size: 18px;
}

.input-group .form-control:not(:last-child) {
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

.input-group .form-control:not(:first-child) {
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
}

.table-responsive {
  overflow: scroll;
  padding: 4px;
}

.table-nowrap {
  th {
    white-space: nowrap;
  }
}

.row-is-delete {
  td {
    color: red;
  }
}

.app-search {
  input {
    background-color: unset !important;
    border-color: #fff !important;
    color: #fff !important;
  }

  a {
    color: #fff !important;
  }
}

.mydp .btnleftborder {
  border-left: unset !important;
}

.mydp .invaliddate {
  border: 1px solid red !important;
}

.table-responsive {
  .mydp {
    border: unset !important;

    .selectiongroup {
      display: block !important;
      // border: 1px solid #CCC !important;

      .selbtngroup button {
        float: right !important;
        border-radius: 4px;
      }
    }

    .selector {
      position: relative !important;

      table.header,
      table.caltable {
        tbody tr:nth-of-type(odd) {
          background: #FAFAFA;
        }
      }

    }
  }
}


.mat-expansion-panel-content {
  font: unset !important;
}

.swal2-confirm {
  background: #3085d6 !important;
}

.control-label::after {
  content: ':';
  position: absolute;
  right: 0px;
}

.control-label.is-required::before {
  content: '*';
  position: absolute;
  right: -8px;
  color: red;
  top: -12px;
}

// ================= owl-carousel =====================
.owl-theme .owl-nav [class*='owl-']:hover {
  background: unset !important;
  color: #495057 !important;
}

.owl-item {
  padding: 10px;

  .times-item {
    position: absolute;
    padding: 6px 12px;
    border-radius: 50rem;
    top: 4px;
    right: 0px;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    color: #495057;
    display: none;
  }


}

.owl-item:hover {
  .times-item {
    display: block;
  }
}

.owl-carousel .owl-nav {
  button:focus {
    outline: unset !important;
    outline: unset !important;
  }

  button.owl-prev {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -60px;
  }

  button.owl-next {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -60px;
  }

  span {
    font-size: 65px;
    font-weight: normal;
  }
}

// ================= owl-carousel =====================

mat-dialog-container.mat-dialog-container {
  padding: unset;
}

input:read-only,
textarea:read-only,
select:disabled {
  color: black !important;
  font-size: .9rem !important
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}